.vscode/
/testings
/Courses
/debug
/build
/dist
/output
*.pyc
tempCodeRunnerFile.py
duce.py
gui-test.py
duce-gui-settings.json
duce-cli-settings.json
*.log
zerotuition-gui-settings.json
zerotuition-cli-settings.json
zerotuition.db
zerotuition-courses.json
.venv-build/
__pycache__/
*.spec
log.txt
error.html
